*.o
src/espeak
src/espeakedit
src/libespeak.*
src/speak
phsource/*_log
phsource/error_*
phsource/envelopes.png
dictsource/*_log
espeak.sublime-*
phsource/compile_report
dictsource/dict_phonemes
glue.*
WebIDLGrammar.pkl
parser.out
espeak-file-package.js
